node_modules
.env
Frontend/dist/



# Pages - Home & Error
Frontend/src/pages/Home/Home.jsx
Frontend/src/pages/Home/Home.css
Frontend/src/pages/Error/NotFound.jsx
Frontend/src/pages/Error/NotFound.css

# Pages - Auth
Frontend/src/pages/Auth/Login.jsx
Frontend/src/pages/Auth/Login.css
Frontend/src/pages/Auth/Signup.jsx
Frontend/src/pages/Auth/Signup.css

# Pages - Hackathon
Frontend/src/pages/Hackathon/Listing.jsx
Frontend/src/pages/Hackathon/Listing.css
Frontend/src/pages/Hackathon/Details.jsx
Frontend/src/pages/Hackathon/Details.css

# Pages - Admin
Frontend/src/pages/Admin/Dashboard.jsx
Frontend/src/pages/Admin/Dashboard.css
Frontend/src/pages/Admin/Users.jsx
Frontend/src/pages/Admin/Users.css
Frontend/src/pages/Admin/CreateUser.jsx
Frontend/src/pages/Admin/CreateUser.css

# Pages - Organizer
Frontend/src/pages/Organizer/Dashboard.jsx
Frontend/src/pages/Organizer/Dashboard.css
Frontend/src/pages/Organizer/CreateHackathon.jsx
Frontend/src/pages/Organizer/CreateHackathon.css
Frontend/src/pages/Organizer/EditHackathon.jsx
Frontend/src/pages/Organizer/EditHackathon.css
Frontend/src/pages/Organizer/MyHackathons.jsx
Frontend/src/pages/Organizer/MyHackathons.css
Frontend/src/pages/Organizer/Registrations.jsx
Frontend/src/pages/Organizer/Registrations.css
Frontend/src/pages/Organizer/Submissions.jsx
Frontend/src/pages/Organizer/Submissions.css

# Pages - Judge
Frontend/src/pages/Judge/Dashboard.jsx
Frontend/src/pages/Judge/Dashboard.css
Frontend/src/pages/Judge/Submissions.jsx
Frontend/src/pages/Judge/Submissions.css
Frontend/src/pages/Judge/ReviewSubmission.jsx
Frontend/src/pages/Judge/ReviewSubmission.css

# Pages - Participant & Profile
Frontend/src/pages/Participant/Dashboard.jsx
Frontend/src/pages/Participant/Dashboard.css
Frontend/src/pages/Profile/Profile.jsx
Frontend/src/pages/Profile/Profile.css

# Pages - Registration
Frontend/src/pages/Registration/Register.jsx
Frontend/src/pages/Registration/Register.css
Frontend/src/pages/Registration/MyRegistrations.jsx
Frontend/src/pages/Registration/MyRegistrations.css

# Pages - Submission
Frontend/src/pages/Submission/CreateSubmission.jsx
Frontend/src/pages/Submission/CreateSubmission.css
Frontend/src/pages/Submission/EditSubmission.jsx
Frontend/src/pages/Submission/EditSubmission.css
Frontend/src/pages/Submission/MySubmissions.jsx
Frontend/src/pages/Submission/MySubmissions.css

# Pages - Leaderboard & Team
Frontend/src/pages/Leaderboard/Leaderboard.jsx
Frontend/src/pages/Leaderboard/Leaderboard.css
Frontend/src/pages/Team/TeamPage.jsx
Frontend/src/pages/Team/TeamPage.css
